@import "partials/ratingbox";
@import "partials/slider";
@import "partials/indexsuggestion";
@import "partials/searchbox";

html {
  background: url('https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTczwPpf10BNAIpjg93OVBXieOlxLDUVdALKHvpC.iQYxhJ_MV4dWn12.v4JDpBEq98zwdFQu.VX8YiXAUipAMnZiclYvMLWJBmbkXmtgap7EoOhB4uOi.AKoKaNKf_HbkBKAGLvSNKDhGlxfTEgstMT1QntZQmtMbhK5WzjSV5lDs-&h=1080&w=1920&format=jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#basket {
  background-image: url(https://www.rvinyl.com/Shared/Images/Product/3M-Wrap-Film-Series-1080/3M-Wrap-Film-Series-1080-Shadow-Back-SB18.jpg);
  color: white;
  background-repeat: round;
  height: 75vh;
  overflow: auto;
}

#imagebasket {
  width: 100px;
  margin-left: 221px;
  margin-top: -63px;
}

#basketname {
  font-size: 20px;
  margin-left: 20px;
}

#logote {
  width: 55px;
  margin-top: 4px;
  margin-left: 7px;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: gold;
  font-weight: 400;
}

#square {
  width: 300px;
  height: 500px;
  border-radius: inherit;
  background-color: rgba(0,0,0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}





#marginIndex {
  margin-top: 20px;
}

#detailsShow {
  margin-top: 116px;
  // margin-left: -143px;
  width: 375px;
}

#imageshow{
  margin-top: 115px;
}

#inputshow{
  width: 60px;
}

#textshow {
  text-align: justify;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
}
#showpic {
  margin-top: 115px;
}
#imageshow {
  width: 400px;
}
#showblock{

  margin-top: 0px;
  margin-left: 10px;
}

div.product-box {
  div.frames {
    width: 200px;
    p {
      font-size: 20px;
      color: gold;
      font-weight: 700;
    }
    p.title{
      font-weight: 900;
    }
    p.rating{
      font-size: 30px;
    }
    article.square {
      width: 300px;
      height: 500px;
      border-radius: inherit;
      background-color: rgba(0,0,0, 0.4);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

#black {
  color: black;
  font-weight: 900;
  font-size: 28px;
}
#red {
  color: red;
  font-weight: 700;
}
#showpage{
  background: white;
  background-color: rgba(255,255,255,0.8);
}

#addtocart {
  margin-top: 142px;
  // margin-left: 55px;
}

div.show-suggestion {
  height: 400px;
  overflow: auto;
}

nav.navbar {
  width: 100%;
  height: 9vh;
  background-color: rgba(0,0,0, 1);
  position: absolute;
  top: 0;
  margin-bottom: 10px;
  opacity: 0.6;
  position: fixed;
  font-weight: 900;
  font-size: 15px;
}

main.container {
  top: 10vh;
  position: relative;
}

#name {
  // font-family: 'Pacifico', cursive;
  font-family: 'Luckiest Guy', cursive;
  font-size: 45px;
  margin-top: 10px;
}


#loginbox {
  margin-top: -300px;
}

#logintext {
  margin-left: 150px;
}

#registerbox {
  margin-top: -250px;
}

#registertext {
  margin-left: 150px;
}


#profileShow {
  // height: 292px;
  // width: 27%;
  background: white;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  top: 90px;
  height: 711px;
  padding: 2em;
  #profilePic{
    width: 26%;
    height: 276px;
    border-radius: 100%;
    padding-left: 23px;
    padding-top: 16px;
  }
}
#editProfileButton{
  position: relative;
  bottom: 529px;
  left: 474px;
}

#purchaseHistoryBox{
  padding-top: 30px;
}

#statisticShow{
  background: white;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  top: 90px;
  height: 711px;
  padding: 2em;
}
